.woocommerce table.shop_table_responsive {
  tbody th, thead {
    display: none;
  }
}

.woocommerce-page table.shop_table_responsive {
  tbody th, thead {
    display: none;
  }
}

.woocommerce table.shop_table_responsive tbody tr:first-child td:first-child, .woocommerce-page table.shop_table_responsive tbody tr:first-child td:first-child {
  border-top: 0;
}

.woocommerce table.shop_table_responsive tr, .woocommerce-page table.shop_table_responsive tr {
  display: block;
}

.woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
  display: block;
  text-align: right !important;
}

.woocommerce {
  #content table.cart .product-thumbnail {
    display: none;
  }

  table {
    &.cart .product-thumbnail, &.my_account_orders tr td.order-actions:before {
      display: none;
    }

    &.shop_table_responsive tr td {
      &.actions:before, &.product-remove:before {
        display: none;
      }
    }
  }
}

.woocommerce-page {
  #content table.cart .product-thumbnail {
    display: none;
  }

  table {
    &.cart .product-thumbnail, &.my_account_orders tr td.order-actions:before {
      display: none;
    }

    &.shop_table_responsive tr td {
      &.actions:before, &.product-remove:before {
        display: none;
      }
    }
  }
}

.woocommerce table.shop_table_responsive tr td.order-actions, .woocommerce-page table.shop_table_responsive tr td.order-actions {
  text-align: left !important;
}

.woocommerce table.shop_table_responsive tr td:before, .woocommerce-page table.shop_table_responsive tr td:before {
  content: attr(data-title) ": ";
  font-weight: 700;
  float: left;
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
  background-color: rgba(0, 0, 0, 0.025);
}

.woocommerce table.my_account_orders tr td.order-actions, .woocommerce-page table.my_account_orders tr td.order-actions {
  text-align: left;
}

.woocommerce table.my_account_orders tr td.order-actions .button, .woocommerce-page table.my_account_orders tr td.order-actions .button {
  float: none;
  margin: .125em .25em .125em 0;
}

.woocommerce .col2-set {
  .col-1, .col-2 {
    float: none;
    width: 100%;
  }
}

.woocommerce-page .col2-set {
  .col-1, .col-2 {
    float: none;
    width: 100%;
  }
}

.woocommerce ul.products li.product {
  width: 48%;
  float: left;
  clear: both;
  margin: 0 0 2.992em;
}

.woocommerce-page {
  ul.products li.product, &[class*=columns-] ul.products li.product {
    width: 48%;
    float: left;
    clear: both;
    margin: 0 0 2.992em;
  }
}

.woocommerce {
  &[class*=columns-] ul.products li.product {
    width: 48%;
    float: left;
    clear: both;
    margin: 0 0 2.992em;
  }

  ul.products li.product:nth-child(2n) {
    float: right;
    clear: none !important;
  }
}

.woocommerce-page {
  ul.products li.product:nth-child(2n), &[class*=columns-] ul.products li.product:nth-child(2n) {
    float: right;
    clear: none !important;
  }
}

.woocommerce {
  &[class*=columns-] ul.products li.product:nth-child(2n) {
    float: right;
    clear: none !important;
  }

  #content div.product div {
    &.images, &.summary {
      float: none;
      width: 100%;
    }
  }

  div.product div {
    &.images, &.summary {
      float: none;
      width: 100%;
    }
  }
}

.woocommerce-page {
  #content div.product div {
    &.images, &.summary {
      float: none;
      width: 100%;
    }
  }

  div.product div {
    &.images, &.summary {
      float: none;
      width: 100%;
    }
  }
}

.woocommerce {
  #content table.cart td.actions, table.cart td.actions {
    text-align: left;
  }
}

.woocommerce-page {
  #content table.cart td.actions, table.cart td.actions {
    text-align: left;
  }
}

.woocommerce {
  #content table.cart td.actions .coupon, table.cart td.actions .coupon {
    float: none;
    padding-bottom: .5em;
  }
}

.woocommerce-page {
  #content table.cart td.actions .coupon, table.cart td.actions .coupon {
    float: none;
    padding-bottom: .5em;
  }
}

.woocommerce {
  #content table.cart td.actions .coupon {
    &:after, &:before {
      content: " ";
      display: table;
    }
  }

  table.cart td.actions .coupon {
    &:after, &:before {
      content: " ";
      display: table;
    }
  }
}

.woocommerce-page {
  #content table.cart td.actions .coupon {
    &:after, &:before {
      content: " ";
      display: table;
    }
  }

  table.cart td.actions .coupon {
    &:after, &:before {
      content: " ";
      display: table;
    }
  }
}

.woocommerce {
  #content table.cart td.actions .coupon:after, table.cart td.actions .coupon:after {
    clear: both;
  }
}

.woocommerce-page {
  #content table.cart td.actions .coupon:after, table.cart td.actions .coupon:after {
    clear: both;
  }
}

.woocommerce {
  #content table.cart td.actions {
    .button, .input-text, input {
      width: 48%;
      box-sizing: border-box;
    }
  }

  table.cart td.actions {
    .button, .input-text, input {
      width: 48%;
      box-sizing: border-box;
    }
  }
}

.woocommerce-page {
  #content table.cart td.actions {
    .button, .input-text, input {
      width: 48%;
      box-sizing: border-box;
    }
  }

  table.cart td.actions {
    .button, .input-text, input {
      width: 48%;
      box-sizing: border-box;
    }
  }
}

.woocommerce {
  #content table.cart td.actions {
    .button.alt, .input-text + .button {
      float: right;
    }
  }

  table.cart td.actions {
    .button.alt, .input-text + .button {
      float: right;
    }
  }
}

.woocommerce-page {
  #content table.cart td.actions {
    .button.alt, .input-text + .button {
      float: right;
    }
  }

  table.cart td.actions {
    .button.alt, .input-text + .button {
      float: right;
    }
  }
}

.woocommerce .cart-collaterals {
  .cart_totals, .cross-sells, .shipping_calculator {
    width: 100%;
    float: none;
    text-align: left;
  }
}

.woocommerce-page {
  .cart-collaterals {
    .cart_totals, .cross-sells, .shipping_calculator {
      width: 100%;
      float: none;
      text-align: left;
    }
  }

  &.woocommerce-checkout form.login .form-row {
    width: 100%;
    float: none;
  }
}

.woocommerce {
  &.woocommerce-checkout form.login .form-row {
    width: 100%;
    float: none;
  }

  #payment .terms {
    text-align: left;
    padding: 0;
  }
}

.woocommerce-page #payment .terms {
  text-align: left;
  padding: 0;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  float: none;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.woocommerce .lost_reset_password {
  .form-row-first, .form-row-last {
    width: 100%;
    float: none;
    margin-right: 0;
  }
}

.woocommerce-page .lost_reset_password {
  .form-row-first, .form-row-last {
    width: 100%;
    float: none;
    margin-right: 0;
  }
}

.single-product .twentythirteen .panel {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
